body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: rgb(244, 241, 231);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    overflow: auto;
    background: linear-gradient(315deg, rgb(255, 255, 255) 3%, rgb(117, 183, 150) 48%, rgb(38, 125, 73) 100%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.nav-logo a img {
    display: block;
    margin: 0 auto;
    padding: 7px;
    max-width: 80%;
    height: auto;
}

nav {
    text-align: left;
    padding-top: 0;
    height: auto; 
    width: 100%; 
    position: relative; 
    background: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Vertical menu on small screens */
}

nav ul li a {
    position: relative;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, border-radius 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #1a3f25;
    color:white;
    border-radius: 0 20px 20px 0;
}

nav ul li a.active:after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background-color: #6d2e2e;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#content {
    margin-left: 0; 
    padding: 20px;
    width: auto; 
    overflow-y: auto;
}


@media (min-width: 600px) {
    body {
        flex-direction: row; 
    }

    nav {
        height: 100vh;
        width: 250px;
        position: fixed;
        left: 0;
        top: 0;
    }

    nav ul {
        display: block;
    }

    #content {
        margin-left: 250px; 
        width: calc(100% - 250px);
    }


    
}

#branding {
    background-color: rgba(235, 229, 225, 0.817);
    color: #1a3f25;
    padding: 40px;
    position: fixed;
    top: 40%;
    left: 54%; 
    transform: translate(-50%, -50%); 
    width: 52%; 
    height: auto; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#branding-main-text, #branding-sub-text {
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-size: calc(5vw + 10px); 
}

#branding-main-text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px; 
    height: 50px; 
    overflow: hidden; 
}

#branding-sub-text {
    font-size: 24px; 
    font-weight: normal; 
}

@media (max-width: 599px) {
    #branding {
        display: none;
    }
}

.wave {
    background: rgba(255, 159, 152, 0.25); 
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 15em;
    animation: wave 5s -1s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5; 
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 1s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 10s -1s reverse infinite;
    opacity: 0.6; 
}
@keyframes wave {
    0%, 100% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-25%); 
    }
}


